#educators-index {
  width: 100vw;
  height: 100vh;
}

#educators-search {
  margin-top: 3.2rem;
}

#educators-search label {
  color: var(--color-text-in-primary);
}

#educators-search button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#educators-search button:hover {
  background: var(--color-secundary-dark);
}

#educators-search label {
  font-size: 1.4rem;
}

#educators-search .educators-search {
  position: relative;
}

#educators-search .educators-search + .educators-search {
  margin-top: 1.4rem;
}

#educators-search .educators-search select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

#educators-search .educators-search input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

#educators-search .educators-search:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}

#educators-index main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #educators-index {
    max-width: 100vw;
  }

  #educators-search {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -60px;
  }

  #educators-search .educators-search + .educators-search,
  #educators-search .select-block + .select-block {
    margin-top: 0;
  }

  #educators-index main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
